table.tabla-alta {
  border-collapse: collapse;
  width: 95%;
  margin: 1rem auto;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: rgb(227, 244, 244);
  }

  th {
    background-color: #f2f2f2;
  }
}

.botonRed {
  background-color: red;
  margin-top: 0.3rem;
  font-weight: bolder;
}

.botonGreen {
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  background-color: green;
  font-weight: bolder;
}
.orange {
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  background-color: rgba(255, 166, 0, 0.742);
  font-weight: bolder;

}
